td, th{
    border: #00ffc4 2px solid;
    padding: 10px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    font-family: "Droid Sans Mono";
    font-size: 28px;
    color: blueviolet;
}

h2{
    text-align: center;
    font-size: 30px;
    color: green;
}

tr:nth-child(even){
    background-color: #08ff00;
}

